.sloganWrapper{
  width: 80vw;
  height: 80vh;

  background-image: url("main-image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .slogan{
    font-size: 70px;
    color: #818181;
  }
}

.infoWrapper{
  margin: 0 2%;
  display: flex;
  flex-direction: column;

  .advantagesWrapper{

    .advantagesMenu{
      list-style-type: none;
      display: flex;
      flex-direction: row;

      >li{
        font-size: 20px;
        width: 100%;
        height: 300px;
        color: white;
        padding:0 10px;
        background-color: #2d9275;
        border: #2d9275 solid 1px;
        border-radius: 10px;
        margin-right: 10px;

        >h3{
          margin-top: -43px;
          position: absolute;
          vertical-align: text-top;
          font-size: 45px;
          color: black;
        }
      }
    }
  }

  .dutyWrapper{
    border: 1px solid black;
    border-radius: 10px;

    >h1{
      color: #2d9275;
      padding-left: 1%;
    }

    .dutyMenu{
      display: flex;
      flex-direction: column;

      >li {
        padding-bottom: 7px;
        font-size: 23px;
        list-style-type: none;
      }

      >li::marker{
        color: #2d9275;
        border: 1px solid #2d9275;
        background-color: #2d9275;
        border-radius: 10px;
      }
    }
  }
}